header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#post-list li {
  margin: 10px auto;
  width: fit-content;
}
.post-edit {
  margin-left: 10px;
}
.post-delete {
  margin-left: 10px;
}