#post-form {
  text-align: center;
  margin:30px auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#form-error-message {
  height: 20px;
  color: red;
  text-align: center;
  font-size: 14px;
  white-space: pre-wrap;
}
.hidden {
  display: none;
}